
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <center>
    <div style="border:1px solid blue;margin-top:60%">
      <ion-input placeholder="Usuario" id="user"></ion-input><br>
      <ion-input placeholder="Contraceña" id="password"></ion-input>
      <ion-button expand="block" fill="outline">Outline + Block</ion-button>
      <button onclick="loginPrincipal()">otro boton</button>
    </div>
  </center>
  <script type="text/javascript">

  </script>
</ion-content>

